<p id="notice"><%= notice %></p>

<h1>Communities</h1>
<div class="grid">
    <% @communities.each do |community| %>
    <div>
        <%# TODO: Use link_to %>
        <a href="<%= community_path(community) %>">
            <div class="community-photo" style="background-image: url(<%= community.photo ? community.photo : 'assets/community.png' %>)"></div>
            <h5><%= community.name %></h5>
        </a>
        <p><%= community.description %></p>
        <p><%= link_to 'Edit', edit_community_path(community) %></p>
        <p><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
    <% end %>
</div>

<%= link_to 'New Community', new_community_path %>
