<% provide(:title, @community.name) %>
<div class="community-info">
    <%= image_tag(@community.photo ? @community.photo : '/assets/community.png', alt: "#{@community.name}'s header photo'") %>
    <h1><%= @community.name %></h1>
    <p><%= @community.description %></p>
    <%# TODO: Only show/allow for privileged users  %>
    <%= link_to 'Edit', edit_community_path(@community) %>
</div>

<%= render 'shared/post_form' %>
<% if @community.posts.any? %>
    <ol class="posts">
        <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
<% end %>
